@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<HButton Color="HColor.Primary" OnClick="IncrementCount">
    Click me
</HButton>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
